{:highlights [{:id #uuid "66e85e2f-7b44-47ee-9c86-d68d03496f14",
               :page 10,
               :position {:bounding {:x1 120.21875,
                                     :y1 534.875,
                                     :x2 471.0874328613281,
                                     :y2 558.078125,
                                     :width 598.9999999999999,
                                     :height 775.1764705882351},
                          :rects ({:x1 137.765625,
                                   :y1 534.875,
                                   :x2 471.0874328613281,
                                   :y2 546.375,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 120.21875,
                                   :y1 546.578125,
                                   :x2 319.699951171875,
                                   :y2 558.078125,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}),
                          :page 10},
               :content {:text "Database theory and more generally, database models have focused primarily on the description of data and on querying facilities. "},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
