{:highlights [{:id #uuid "66e89784-72d6-40ff-8005-ea16e544e28f",
               :page 9,
               :position {:bounding {:x1 127.703125,
                                     :y1 543.7109375,
                                     :x2 478.6518859863281,
                                     :y2 590.25,
                                     :width 598.9999999999999,
                                     :height 775.1764705882351},
                          :rects ({:x1 127.703125,
                                   :y1 543.7109375,
                                   :x2 478.6518859863281,
                                   :y2 555.2109375,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 145.25,
                                   :y1 555.4140625,
                                   :x2 478.4658508300781,
                                   :y2 566.9140625,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 145.25,
                                   :y1 567.0390625,
                                   :x2 478.5681457519531,
                                   :y2 578.5390625,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}
                                  {:x1 145.25,
                                   :y1 578.75,
                                   :x2 439.8573303222656,
                                   :y2 590.25,
                                   :width 598.9999999999999,
                                   :height 775.1764705882351}),
                          :page 9},
               :content {:text "Secondary storage management: The goal of dbms’s is the management of large amounts of shared data. By large we mean that the data is too big to ﬁt in main memory. Thus an essential task of these systems is the management of secondary storage, which involves an array of techniques such as indexing, clustering, and resource allocation."},
               :properties {:color "yellow"}}],
 :extra {:page 9}}
